In [1]:
import pandas as pd
import glob
import os

folder_path = "./data/real_data"

file_csv_pattern = os.path.join(folder_path, "*.csv")

file_excel_pattern = os.path.join(folder_path, "*.xlsx")

all_csv_files = glob.glob(file_csv_pattern)
all_excel_files = glob.glob(file_excel_pattern)

print(all_csv_files)
print(all_excel_files)

['./data/real_data\\Merged_all_stations.csv', './data/real_data\\Merged_pivot_all_stations.csv', './data/real_data\\station_metadata_FINAL.csv']
['./data/real_data\\ANFREQ_all_stations.xlsx']

In [2]:
Merged_all_stations_df = pd.read_csv(all_csv_files[0])
Merged_pivot_all_stations_df = pd.read_csv(all_csv_files[1])
station_metadata_FINAL_df = pd.read_csv(all_csv_files[2])

ANFREQ_all_stations_df = pd.read_excel(all_excel_files[0])

### START HERE

#### MERGED ALL STATION DATA

In [3]:
Merged_all_stations_df.head()

,STATION_NAME,SOUID,YEAR,STATION_ID,ANNUAL,ONDJFM,AMJJAS,DJF,MAM,JJA,...,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER
0,STASIUN METEOROLOGI CUT BAU MAIMUN SALEH,1,1927,0.01,NaN,NaN,NaN,NaN,78.0,NaN,...,78.0,39.0,46.0,82.0,51.0,NaN,110.0,82.0,50.0,68.0
1,STASIUN METEOROLOGI CUT BAU MAIMUN SALEH,1,1928,0.01,118.0,118.0,70.0,118.0,70.0,43.0,...,60.0,70.0,30.0,25.0,43.0,24.0,12.0,83.0,95.0,112.0
2,STASIUN METEOROLOGI CUT BAU MAIMUN SALEH,1,1929,0.01,321.0,321.0,65.0,321.0,65.0,25.0,...,50.0,65.0,0.0,25.0,14.0,3.0,30.0,34.0,25.0,55.0
3,STASIUN METEOROLOGI CUT BAU MAIMUN SALEH,1,1930,0.01,115.0,55.0,61.0,45.0,61.0,31.0,...,50.0,61.0,10.0,0.0,26.0,31.0,0.0,95.0,45.0,115.0
4,STASIUN METEOROLOGI CUT BAU MAIMUN SALEH,1,1931,0.01,95.0,115.0,53.0,95.0,95.0,53.0,...,95.0,44.0,46.0,30.0,53.0,25.0,9.0,59.0,24.0,34.0

In [4]:
Merged_all_stations_df['SOUID'].unique()

array([    1,     2,     3, ..., 14513, 14514, 14515])

In [5]:
Merged_all_stations_df['SOUID'].is_unique

False

In [6]:
Merged_all_stations_df['SOUID'].value_counts()

SOUID
10952    285
10931    285
10906    285
10932    285
10959    285
        ...
6510       1
13568      1
5436       1
12947      1
12945      1
Name: count, Length: 10061, dtype: int64

In [7]:
len(Merged_all_stations_df['SOUID'].tolist())

696244

In [8]:
Merged_all_stations_df_copy = Merged_all_stations_df.copy()

dataframe_subset = Merged_all_stations_df_copy.drop_duplicates(["SOUID"], ignore_index=True)[["SOUID", "STATION_NAME"]]

dataframe_subset.head()

   SOUID                              STATION_NAME
0      1  STASIUN METEOROLOGI CUT BAU MAIMUN SALEH
1      2          STASIUN METEOROLOGI MALIKUSSALEH
2      3  STASIUN METEOROLOGI SULTAN ISKANDAR MUDA
3      4  STASIUN METEOROLOGI TJUT NYAK DIEN MEULA
4      5             STASIUN METEOROLOGI KUALANAMU

In [9]:
dataframe_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10061 entries, 0 to 10060
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SOUID         10061 non-null  int64
 1   STATION_NAME  10061 non-null  object
dtypes: int64(1), object(1)
memory usage: 157.3+ KB

In [10]:
dataframe_subset.index

RangeIndex(start=0, stop=10061, step=1)

#### MERGED ALL PIVOT DATA

In [11]:
Merged_pivot_all_stations_df.head()

,YEAR,1,2,3,4,5,6,7,8,9,...,14505,14506,14507,14508,14509,14510,14511,14512,14513,14515
0,1872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,144.1,NaN,NaN,NaN,NaN,NaN

In [12]:
Merged_pivot_all_stations_df = Merged_pivot_all_stations_df.fillna(0)

Merged_pivot_all_stations_df

,YEAR,1,2,3,4,5,6,7,8,9,...,14505,14506,14507,14508,14509,14510,14511,14512,14513,14515
0,1872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,144.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,2019,0.0,120.0,150.0,106.5,84.6,0.0,118.0,84.9,118.0,...,68.0,0.0,55.0,90.0,109.0,93.2,167.0,91.0,119.0,85.0
148,2020,0.0,93.3,147.5,196.6,75.8,0.0,158.7,87.8,115.2,...,77.0,0.0,100.0,121.0,132.0,256.0,120.0,147.0,103.0,100.0
149,2021,0.0,165.2,149.6,236.5,92.0,124.9,141.3,136.0,192.1,...,138.0,124.0,65.6,123.0,136.0,149.0,248.0,135.0,163.0,119.0
150,2022,0.0,170.1,144.0,139.5,132.5,70.8,204.9,0.0,123.1,...,116.0,125.0,71.0,95.0,141.0,110.0,304.0,150.0,197.0,93.0
151,2024,0.0,81.0,134.9,137.9,79.0,83.9,177.0,126.4,88.3,...,187.0,109.0,63.4,65.0,142.0,148.0,210.0,180.0,396.0,75.0

In [13]:
col_pivot = Merged_pivot_all_stations_df.columns.tolist()[1:]

len(col_pivot)

9665

In [14]:
# for colIdx in col_pivot:
#     year = Merged_pivot_all_stations_df["YEAR"].tolist()
#     data = Merged_pivot_all_stations_df[colIdx].tolist()
#     stname = dataframe_subset[dataframe_subset['SOUID'] == int(colIdx)]
#     # not all the data in Merged_all_stations_df has SOUID in Merged_pivot_all_stations_df
#     stname = stname.iloc[0]['STATION_NAME']
#     print(stname)

In [15]:
# change the pivot column

col_pivot = dataframe_subset['SOUID'].tolist()[1:]

len(col_pivot)

10060

In [16]:
'''
paringdata = {
    "year": [...],
    "content": {
        "id": {
            "station_name": stname,
            "data": [...],
        }
    }
}
'''

'''
[NOTE]: every data in Merged_all_stations_df covered and mapped from it's pivot even
- the key consist as key: 
    - id [SOUID]
    - year: cannot be null or None (because the value is in range (1972 - 2024)) as the pivot
    
- the value placed in key "data" consist of :
    - station name: cannot be null or None
    - data: cannot be null or None (because default value will be [])
'''

paringdata = {}

year = Merged_pivot_all_stations_df["YEAR"].tolist()

paringdata["year"] = year
paringdata["content"] = {}

for colIdx in col_pivot:
    try:
        data = Merged_pivot_all_stations_df[str(colIdx)].tolist()
        stname = dataframe_subset[dataframe_subset['SOUID'] == int(colIdx)]
        stname = stname.iloc[0]['STATION_NAME']
    except Exception as e:
        paringdata["content"][colIdx] = {
            "station_name": stname,
            "data": []
        }
    finally:
        paringdata["content"][colIdx] = {
            "station_name": stname,
            "data": data
        }

In [17]:
c = 0
for k, i in paringdata.items():
    c += 1

print(len(col_pivot), c)

10060 2

In [19]:
import json

def convert2JSON(data, name):
    try:
        with open(name, 'w', encoding='utf-8') as f:
            json.dump(data, f, indent=4)
            print(f"JSON in FILE {name} created!!")
    except Exception as E:
        print(f"Error happened {str(E)}")
        

convert2JSON(paringdata, 'data/pairingdata.json')

JSON in FILE data/pairingdata.json created!!

#### METADATA DATA